<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.distance0.imusic.mapper.AlbumMapper">
<!--    添加专辑-->
    <insert id="insert">
        insert into album (name, singer_id, image, description, release_time, create_time, status, color) VALUES
            (#{name},#{singerId},#{image},#{description},#{releaseTime},#{createTime},#{status},#{color})
    </insert>
<!--    修改专辑-->
    <update id="update">
        update album
            <set>
                <if test="name != null">
                    name = #{name},
                </if>
                <if test="image != null">
                    image = #{image},
                </if>
                <if test="description != null">
                    description = #{description},
                </if>
                <if test="status != null">
                    status = #{status},
                </if>
                <if test="releaseTime != null">
                    release_time = #{releaseTime},
                </if>
                <if test="color != null">
                    color = #{color}
                </if>
            </set>
        where id = #{id}
    </update>
<!--    查询专辑-->
    <select id="select" resultType="com.distance0.imusic.entity.Album">
        select id, name, singer_id, image, description, release_time, create_time, status, color from album
            <where>
                <if test="id != null">
                    id = #{id}
                </if>
                <if test="name != null">
                    and name = #{name}
                </if>
                <if test="singerId != null">
                    and singer_id = #{singerId}
                </if>
                <if test="image != null">
                    and image = #{image}
                </if>
                <if test="description != null">
                    and description = #{description}
                </if>
                <if test="releaseTime != null">
                    and release_time = #{releaseTime}
                </if>
                <if test="createTime != null">
                    and create_time = #{createTime}
                </if>
                <if test="status != null">
                    and status = #{status}
                </if>
            </where>
    </select>
<!--    查找专辑list-->
    <select id="getAlbumList" resultType="com.distance0.imusic.entity.Album">
        select id, name, singer_id, image, description, release_time, create_time, status from album
            <where>
                <if test="id != null">
                    id = #{id}
                </if>
                <if test="name != null">
                    and name = #{name}
                </if>
                <if test="singerId != null">
                    and singer_id = #{singerId}
                </if>
                <if test="image != null">
                    and image = #{image}
                </if>
                <if test="description != null">
                    and description = #{description}
                </if>
                <if test="releaseTime != null">
                    and release_time = #{releaseTime}
                </if>
                <if test="createTime != null">
                    and create_time = #{createTime}
                </if>
                <if test="status != null">
                    and status = #{status}
                </if>
            </where>
    </select>
<!--    分页-->
    <select id="pageQuery" resultType="com.distance0.imusic.entity.Album">
        select id, name, singer_id, image, description, release_time, create_time, status, color from album
            <where>
                <if test="name != null">
                    name like concat('%',#{name},'%')
                </if>
                <if test="singerId != null">
                    and singer_id = #{singerId}
                </if>
                <if test="status != null">
                    and status = #{status}
                </if>
            </where>
    </select>
</mapper>
