<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.distance0.imusic.mapper.MusicMapper">

    <insert id="insert">
        insert into music (name, album_id, singer_id, album_name, singer_name, audio, count, sort, lyric, create_time, status, release_time) VALUES
            (#{name},#{albumId},#{singerId},#{albumName},#{singerName},#{audio},#{count},#{sort},#{lyric},#{createTime}, #{status},#{releaseTime})
    </insert>

    <select id="getMusic" resultType="com.distance0.imusic.entity.Music">
        select id, name, album_id, singer_id, album_name, singer_name, audio, count, sort, lyric, create_time, status, release_time from music
            <where>
                <if test="id != null">
                    id = #{id}
                </if>
                <if test="name != null">
                    and name like concat('%',#{name},'%')
                </if>
                <if test="albumId != null">
                    and album_id = #{albumId}
                </if>
                <if test="singerId != null">
                    and singer_id = #{singerId}
                </if>
                <if test="albumName != null">
                    and album_name like concat('%',#{albumName},'%')
                </if>
                <if test="singerName != null">
                    and singer_name like concat('%',#{singerName},'%')
                </if>
                <if test="audio != null">
                    and audio = #{audio}
                </if>
                <if test="count != null">
                    and count = #{count}
                </if>
                <if test="sort != null">
                    and sort = #{sort}
                </if>
                <if test="createTime != null">
                    and create_time = #{createTime}
                </if>
                <if test="status != null">
                    and status = #{status}
                </if>
                <if test="releaseTime != null">
                    and release_time = #{releaseTime}
                </if>
            </where>
    </select>
<!--    分页-->
    <select id="pageQuery" resultType="com.distance0.imusic.entity.Music">
        select id, name, album_id, singer_id, album_name, singer_name, audio, count, sort, lyric, create_time, status, release_time from music
            <where>
                <if test="name != null">
                    name like concat('%',#{name},'%')
                </if>
                <if test="albumName != null">
                    and album_name like concat('%',#{albumName},'%')
                </if>
                <if test="singerName != null">
                    and singer_name like concat('%',#{singerName},'%')
                </if>
                <if test="status != null">
                    and status = #{status}
                </if>
            </where>
    </select>
<!--    获取音乐数组-->
    <select id="getMusicList" resultType="com.distance0.imusic.entity.Music">
        select id, name, album_name, singer_name, singer_id, album_id, audio, count, sort, lyric, create_time, status, release_time from music
            <where>
                <if test="name != null">
                    name = #{name}
                </if>
                <if test="albumName != null">
                    and album_name = #{albumName}
                </if>
                <if test="singerName != null">
                    and singer_name = #{singerName}
                </if>
                <if test="singerId != null">
                    and singer_id = #{singerId}
                </if>
                <if test="albumId != null">
                    and album_id = #{albumId}
                </if>
                <if test="count != null">
                    and count = #{count}
                </if>
            </where>
        order by count desc
    </select>
<!--    修改音乐-->
    <update id="update">
        update music
            <set>
                <if test="id != null">
                    id = #{id},
                </if>
                <if test="name != null">
                     name = #{name},
                </if>
                album_id = #{albumId},
                <if test="singerId != null">
                     singer_id = #{singerId},
                </if>
                album_name = #{albumName},
                <if test="singerName != null">
                     singer_name = #{singerName},
                </if>
                <if test="audio != null">
                     audio = #{audio},
                </if>
                <if test="count != null">
                     count = #{count},
                </if>
                sort = #{sort},
                release_time = #{releaseTime},
                <if test="status != null">
                     status = #{status}
                </if>
            </set>
        where id = #{id}
    </update>

</mapper>
