<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.distance0.imusic.mapper.MusicFormMapper">

    <resultMap id="getMusicFormBy" type="MusicForm">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="user_id" property="userId" />
        <result column="image" property="image" />
        <result column="count" property="count" />
        <result column="description" property="description" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <collection property="musicList" ofType="Music">
            <id column="id" property="id" />
            <result column="name" property="name" />
            <result column="album_name" property="albumName" />
            <result column="singer_name" property="singerName" />
            <result column="album_id" property="albumId" />
            <result column="singer_id" property="singerId" />
            <result column="audio" property="audio" />
            <result column="count" property="count" />
        </collection>
    </resultMap>

<!--    用户 歌单-->
<!--    <resultMap id="getMusicFormByUserId" type="com.distance0.imusic.vo.MusicFormVo">-->
<!--        <id column="id" property="id" />-->
<!--        <result column="name" property="name" />-->
<!--        <result column="image" property="image" />-->
<!--        <result column="description" property="description" />-->
<!--        <result column="count" property="count" />-->
<!--        <result column="architect" property="architect"/>-->
<!--    </resultMap>-->
<!--    <resultMap id="getMusicFormByUserId" type="com.distance0.imusic.vo.CollectFormVo">-->
<!--        <collection property="musicFormList" ofType="com.distance0.imusic.vo.MusicFormSimpleVo">-->
<!--            <id column="id" property="id" />-->
<!--            <result column="name" property="name" />-->
<!--            <result column="architect" property="architect" />-->
<!--            <result column="image" property="image" />-->
<!--        </collection>-->
<!--        <collection property="singerList" ofType="com.distance0.imusic.vo.SingerSimpleVo">-->
<!--            <id column="id" property="id" />-->
<!--            <result column="name" property="name" />-->
<!--            <result column="image" property="image" />-->
<!--            <result column="color" property="color" />-->
<!--            <result column="avatar" property="avatar" />-->
<!--        </collection>-->
<!--        <collection property="singerList" ofType="com.distance0.imusic.vo.AlbumSimpleVo">-->
<!--            <id column="id" property="id" />-->
<!--            <result column="name" property="name" />-->
<!--            <result column="image" property="image" />-->
<!--            <result column="color" property="color" />-->
<!--            <result column="singer_name" property="singerName" />-->
<!--            <result column="singer_id" property="singerId" />-->
<!--        </collection>-->
<!--    </resultMap>-->
<!--    &lt;!&ndash;    根据用户id查询收藏歌单&ndash;&gt;-->
<!--    <select id="getMusicFormByUser" resultMap="getMusicFormByUserId">-->
<!--        select mf.id, mf.name as name, mf.image, mf.description, mf.count, u2.name as architect-->
<!--            from collect_form cf-->
<!--            right join music_form mf on mf.id = cf.music_form_id-->
<!--            left join user u2 on u2.id = mf.user_id-->
<!--            where cf.user_id = #{id}-->
<!--    </select>-->


    <!--    歌单-->
    <resultMap id="getMusicFormById" type="com.distance0.imusic.vo.MusicFormVo">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="image" property="image" />
        <result column="description" property="description" />
        <result column="count" property="count" />
        <result column="architect" property="architect"/>
    </resultMap>
    <select id="getMusicFormById" resultMap="getMusicFormById">
        select mf.*, u.name as architect from music_form mf
            left join user u on mf.user_id = u.id
        where mf.id = #{id}
    </select>

    <resultMap id="getFormMusic" type="com.distance0.imusic.vo.MusicImageVo">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="album_name" property="albumName" />
        <result column="singer_name" property="singerName" />
        <result column="album_id" property="albumId" />
        <result column="singer_id" property="singerId" />
        <result column="audio" property="audio" />
        <result column="count" property="count" />
        <result column="image" property="image" />
    </resultMap>
    <select id="getFormMusic" resultMap="getFormMusic">
        select m.id, m.name, m.album_id, m.album_name, m.singer_id, m.singer_name, m.audio, m.count, m.image
        from music_form_music mfm
                 left join music m on m.id = mfm.music_id
        where mfm.music_form_id = #{id}
    </select>


    <!--    新增歌单-->
    <insert id="addMusicForm" useGeneratedKeys="true" keyProperty="id">
        insert into music_form (id, name, user_id, image, count, description, create_time, update_time) VALUES
            (#{id},#{name},#{userId},#{image},#{count},#{description},#{createTime},#{updateTime})
    </insert>

    <!--    修改歌单-->
    <update id="update">
        update music_form
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="image != null">
                image = #{image},
            </if>
            <if test="count != null">
                count = #{count},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="color != null">
                color = #{color}
            </if>
        </set>
        where id = #{id}
    </update>


</mapper>
